<form method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field == start_time or field == end_time   %}

        {% else %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endif %}

    {% endfor %}
    <div class="form-group">
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.description }}
    </div>
    <div class="row">
        <div class="col-lg-6">

            <div class="form-group">

                {{ form.start_time }}
            </div>

        </div>

        <div class="col-lg-6">
            <div class="form-group">
                {{ form.end_time }}
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-user" value="Guardar">
    <a href="{% url 'event_list' %}" class="btn btn-primary btn-user">Cancelar</a>
</form>