{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %} Citas {% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Lista de {{ model }}</h1>
            <a href="{% url 'dates_new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Nuevo</a>

        </div>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ model }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Titulo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for date in dates %}
                            <tr>
                                <td>{{ date.title }}</td>
                                <td>{{ date.start_time }}</td>
                                <td>{{ date.end_time }}</td>
                                <td>{{ date.description }}</td>

                                <td>
                                    {% if date.state == "Pendiente" %}
                                        <div class="card bg-info text-white shadow">
                                            {{ date.state }}
                                        </div>
                                    {% elif date.state == "Rechazada" %}
                                        <div class="card bg-danger text-white shadow">
                                            {{ date.state }}
                                        </div>
                                    {% elif date.state == "Completada" %}
                                        <div class="card bg-success text-white shadow">
                                            {{ date.state }}
                                        </div>
                                    {% elif date.state == "Aceptada" %}
                                        <div class="card bg-primary text-white shadow">
                                            {{ date.state }}
                                        </div>
                                    {% elif date.state == "Cancelada" %}
                                        <div class="card bg-warning text-white shadow">
                                            {{ date.state }}
                                        </div>
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="{% url 'dates_edit' date.pk %}" title="Edit"
                                       class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                       class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>

                                    <a href="#" title="OPTIONS" id="dropdownMenuButton"
                                       class="btn btn-primary btn-circle btn-sm dropdown-toggle" data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fas fa-box"></i>
                                    </a>
                                    {% if request.user|has_group:"Solicitado" %}
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if date.state ==  "Cancelada" %}
                                            <a class="dropdown-item" href="{% url 'dates_accept' date.pk %}">Aceptar</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'dates_cancel' date.pk %}">Cancelar</a>
                                            {% endif %}
                                        </div>

                                    {% else %}
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{% url 'dates_cancel' date.pk %}">Cancelar</a>
                                        </div>
                                    {% endif %}


                                </td>
                            </tr>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Desea eliminar?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Seleccione Eliminar si realmente quiere eliminar la
                                            Cita.
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <a class="btn btn-danger"
                                               href="{% url 'dates_delete' date.pk %}">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <!-- /.container-fluid -->


    <!-- End of Main Content -->


{% endblock %}

{% block js %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src=" {% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}